.carousel {
  position: relative;
  overflow: hidden;

  .wrapper {
    display: flex;
    transition: transform var(--carousel-speed, 300ms) ease;
  }

  .slide {
    flex-shrink: 0;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;

    &.carousel-prev {
      left: 0;
    }

    &.carousel-next {
      right: 0;
    }
  }
}